/* CSS variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #0F3D3E;
  --secondary-color: #041C32;
  --grey-color: #100F0F;
  --white-color: #E2DCC8;
  --font-sans: 'Poppins', sans-serif;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--white-color);
  margin-bottom: 1.6rem;
}

h2 {
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

h3 {
  color: var(--primary-color);
  font-size: 2.4rem;
}

h4 {
  color: var(--primary-color);
  font-weight: 500;
  margin: 2rem;
}

a, button {
  all: unset;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

section {
  width: 100%;
  padding: 18rem 3rem 12rem 3rem;
  border-radius: 0 0 0 40px;
  margin-top: -6rem;
  box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.2);
}

article {
  width: 100%;
  background-color: white;
  border: 1px solid silver;
  border-radius: 1.4rem;
  padding: 2rem;
}

figure {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  object-fit: cover;
}

p {
  margin-bottom: 3rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

form > input,
form > textarea {
  border: 1px solid silver;
  border-radius: 1.2rem;
  width: 90%;
  padding: 1.4rem;
  background-color: var(--white-color);
  font-size: 1.8rem;
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

html {
  font-family: var(--font-sans), sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 0.3s ease-out;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  font-size: 1.8rem;
  background-color: #eee;
}

header {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: none;
}

.mobile-menu-section {
  width: 100%;
  height: 8rem;
  position: fixed;
  bottom: 0;
  color: var(--white-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px 40px 0px 0px;
  z-index: 90;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.5);
}

.mobile-menu-section ul {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-menu-section li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-section a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu-section i {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.mobile-menu-section span {
  font-size: 1.2rem;
}

.media-span {
  display: block;
  font-weight: normal;
  margin-bottom: 2rem;
}

.headline {
  color: white;
  padding: 16rem 4rem 12rem 4rem;
  background-color: var(--secondary-color);
  z-index: 40;
}

.works {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  z-index: 30;
}

.about-myself {
  background-color: var(--white-color);
  padding: 15rem 4rem 12rem 4rem;
  z-index: 20;
}

.headline span {
  color: var(--white-color);
}

.about-myself span {
  color: var(--primary-color);
}

.contact {
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 15rem 4rem 18rem 4rem;
  z-index: 10;
}

.span-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: grey;
  font-size: 1.4rem;
}

.counter {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: silver;
  margin: 0 1rem;
}

.tags-container {
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.tags-container li {
  font-size: 1.4rem;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1.2rem;
}

.social-media-ul {
  margin-bottom: 4rem;
}

.fa-brands {
  font-size: 2.6rem;
  margin-left: 1rem;
  color: var(--neutral-color);
}

.fa-brands:hover {
  color: purple;
}

.about-myself-skills {
  margin-top: 4rem;
}

details {
  margin: 0 auto;
  margin-bottom: .5rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  color: var(--primary-color);
}

summary:before {
  content: '';
  font-size: 4rem;
  border-radius: 50%;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: 3.8rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

details > ul > li {
  margin-left: 4rem;
}

details > ul > li:before {
  content: '>';
  color: var(--primary-color);
  margin-right: 1rem;
}

.form-title,
.form-p {
  text-align: center;
  color: var(--white-color);
}

.form-p {
  margin-bottom: 4rem;
}

form .btn {
  margin-top: 2rem;
}

/* animations */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* media queries */
@media only screen and (min-width: 480px) {
  .mobile-menu-section {
    display: none;
  }
}
