@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS variables */

:root {
  --primary-color: #0f3d3e;
  --secondary-color: #041c32;
  --secondary-darker-color: #222831;
  --accent-color: #ecb365;
  --accent-darker-color: #603601;
  --grey-color: #100f0f;
  --white-color: #e2dcc8;
  --font-sans: 'Poppins', sans-serif;
}

/* Reset default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global selectors */

h1 {
  color: var(--accent-color);
  margin-bottom: 1.6rem;
  font-size: 4rem;
}

h2 {
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

h3 {
  color: var(--primary-color);
  font-size: 2.4rem;
}

h4 {
  color: var(--primary-color);
  font-weight: 500;
  margin: 2rem;
}

a,
button {
  all: unset;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

section {
  width: 100%;
  padding: 18rem 3rem 12rem 3rem;
  border-radius: 0 0 0 40px;
  margin-top: -6rem;
  box-shadow: 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.2);
}

article {
  width: 100%;
  background-color: white;
  border: 1px solid silver;
  border-radius: 1.4rem;
  padding: 2rem;
}

figure {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  object-fit: contain;
}

p {
  margin-bottom: 3rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

form > input,
form > textarea {
  border: 1px solid silver;
  border-radius: 1.2rem;
  width: 100%;
  padding: 1.4rem;
  background-color: var(--white-color);
  font-size: 1.8rem;
  font-family: var(--font-sans);
}

.bg-transition {
  -webkit-transition: background 0.3s; /* For Safari 3.0 to 6.0 */
  transition: background 0.3s; /* For modern browsers */
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 1.2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.btn-white {
  color: var(--accent-color);
}

.btn-white:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.btn-white:active {
  background-color: var(--accent-darker-color);
}

.btn-black:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.btn-black:active {
  background-color: var(--secondary-darker-color);
}

html {
  font-family: var(--font-sans), sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 0.3s ease-out;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  font-size: 1.8rem;
  background-color: #eee;
}

header {
  width: 100%;
}

/* menu */

nav {
  width: 100%;
  height: 8rem;
  position: fixed;
  bottom: 0;
  color: var(--white-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px 40px 0 0;
  z-index: 90;
  box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.5);
}

nav ul {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav i {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

nav span {
  font-size: 1.2rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* social-media-ul */

.media-span {
  display: block;
  font-weight: normal;
  margin-bottom: 2rem;
}

.social-media-ul {
  margin-bottom: 4rem;
}

.fa-brands {
  font-size: 2.6rem;
  margin-left: 1rem;
  color: var(--neutral-color);
  -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
  transition: color 0.3s; /* For modern browsers */
}

.fa-brands:hover {
  color: var(--accent-color);
}

.fa-brands:active {
  color: var(--accent-darker-color);
}

.about-myself .fa-brands:hover {
  color: var(--primary-color);
}

.about-myself .fa-brands:active {
  color: var(--secondary-color);
}

/* headline */

.headline {
  color: white;
  padding: 14rem 4rem 8rem 4rem;
  background-color: var(--secondary-color);
  z-index: 40;
}

.headline span {
  color: var(--accent-color);
}

/* works */

.works {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  z-index: 30;
}

.span-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: black;
  font-size: 1.4rem;
}

.counter {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: silver;
  margin: 0 1rem;
}

.tags-container {
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tags-container li {
  font-size: 1.4rem;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1.2rem;
}

/* about-myself */

.about-myself {
  background-color: var(--white-color);
  padding: 15rem 4rem 12rem 4rem;
  z-index: 20;
}

.about-myself span {
  color: var(--primary-color);
}

.about-myself-skills {
  margin-top: 4rem;
}

.about-myself details {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  overflow: hidden;
}

.about-myself summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  color: var(--primary-color);
}

.about-myself summary::before {
  content: '';
  font-size: 4rem;
  border-radius: 50%;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: 3.8rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

.about-myself details[open] > summary::before {
  transform: rotate(90deg);
}

.about-myself details summary::-webkit-details-marker {
  display: none;
}

.about-myself details > ul {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.about-myself details > ul > li {
  margin-left: 4rem;
}

.about-myself details > ul > li::before {
  content: '>';
  color: var(--primary-color);
  margin-right: 1rem;
}

/* contact */

.contact {
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 15rem 4rem 18rem 4rem;
  z-index: 10;
}

.form-title,
.form-p {
  text-align: center;
}

.form-title {
  color: var(--accent-color);
}

.form-p {
  color: white;
  margin-bottom: 4rem;
}

form .btn {
  margin-top: 2rem;
}

/* modal */

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: none;
  position: fixed;
}

.show-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.modal-card {
  width: 94%;
  height: 94%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.modal-wrap {
  display: flex;
  flex-direction: column;
}

.modal-card p {
  margin-bottom: 3rem;
  justify-content: center;
  text-align: justify;
  padding: 1rem;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.close-btn {
  align-self: flex-end;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

/* animations */
@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* media queries */

@media only screen and (min-width: 780px) {
  header {
    all: unset;
    width: 8rem;
  }

  nav {
    all: unset;
    width: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: var(--secondary-color);
    box-shadow: 11px 1px 11px -5px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 11px 1px 11px -5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 11px 1px 11px -5px rgba(0, 0, 0, 0.38);
  }

  nav ul {
    all: unset;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav a {
    color: var(--white-color);
    -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
    transition: color 0.3s; /* For modern browsers */
  }

  nav a:hover {
    color: var(--accent-color);
  }

  nav a:active {
    color: var(--accent-darker-color);
  }

  nav span {
    all: unset;
    font-size: 1rem;
  }

  main {
    margin-left: 6rem;
    width: calc(100% - 8rem);
  }

  section {
    width: 100%;
    padding: 18rem 0 12rem 0 !important;
    border-radius: 0 0 40px 0 !important;
    margin-top: -6rem;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headline h1 {
    text-align: center;
  }

  .headline p {
    width: 50%;
    text-align: center;
  }

  .headline p,
  .about-myself p {
    margin-bottom: 6rem;
  }

  .works-card {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 4rem;
  }

  .works-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .works-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3 {
    font-size: 3rem;
  }

  figure {
    width: 50%;
    height: 36rem;
    min-height: 36rem;
    margin: 0;
  }

  .span-container {
    width: 50%;
  }

  .about-myself {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-myself-info {
    width: 40%;
    padding: 4rem;
  }

  .about-myself-skills {
    width: 40%;
    padding: 4rem;
  }

  .contact {
    border-radius: 0 0 0 0 !important;
  }

  form {
    width: 50%;
  }

  .modal-card {
    width: 95%;
    padding: 8rem;
  }

  .modal-card p {
    margin-top: 8rem;
  }

  .modal-card figure {
    width: 86%;
  }

  .close-btn {
    position: absolute;
    top: 40px;
    right: 70px;
    z-index: 110;
  }

  .modal-wrap {
    flex-direction: row;
  }

  .modal-header {
    width: 50%;
  }

  .modal-footer {
    width: 50%;
    height: 100%;
  }

  .modal-buttons {
    justify-content: flex-start;
    gap: 2rem;
  }
}
